<!DOCTYPE html>
<html>
<head>
    <title>Email Phishing Detector</title>
    <style>
        body { font-family: Arial; padding: 50px; text-align: center; background: #f9f9f9; }
        input[type=text] { width: 300px; padding: 10px; }
        input[type=submit] { padding: 10px 20px; margin-top: 10px; }
        h2 { margin-top: 30px; }
    </style>
</head>
<body>
    <h1>Email Phishing Detection</h1>
    <form method="POST" action="/predict">
        <input type="text" name="email" placeholder="Enter email text" required />
        <br />
        <input type="submit" value="Check" />
    </form>
    
        <h2>{{ result }}</h2>
    
</body>
</html>
